@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: #fff !important;
  background-color: #111111;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 70px #1b1b1b inset !important;
  -webkit-text-fill-color: #fff;
  border: none;
}

#new_album,
#music_player {
  scroll-margin-top: 80px;
}

#tracks,
#gallery {
  scroll-margin-top: 120px;
}

#bio,
#contact {
  scroll-margin-top: 150px;
}

.progress--range__slider[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  height: 1px;
  border-radius: 100px;
  background: transparent;
  outline: none;
  padding: 0;
}

.progress--range__slider[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffffff;
  /* border: #000000 1.5px solid; */
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.progress--range__slider[type="range"]::-moz-range-thumb {
  width: 8px;
  height: 8px;
  border: 0;
  border-radius: 50%;
  background: #000000;
  /* border: #000000 5px solid; */
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

.volume--range__slider[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  height: 1px;
  border-radius: 100px;
  background: transparent;
  outline: none;
  padding: 0;
}

.volume--range__slider[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffffff;
  /* border: #000000 1.5px solid; */
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.volume--range__slider[type="range"]::-moz-range-thumb {
  width: 8px;
  height: 8px;
  border: 0;
  border-radius: 50%;
  background: #000000;
  /* border: #000000 5px solid; */
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
